$background-color: #f6f6f6;
$text-color: #000000;

body {
  background-color: $background-color;
  color: $text-color;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  height: 100vh;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  background-color: $background-color;
  width: 100vw;
  min-height: 100vh;
}

.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 4rem 2rem;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 100%; /* Full width */
  max-width: 1200px; /* Optional: to limit the maximum width */
  margin: 0 auto; /* Center the section */
}

.hero-section img {
  max-width: 100%;
  height: auto;
}

.hero-title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.hero-description {
  font-size: 1.25rem;
  margin-bottom: 2rem;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.button {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.button:hover {
  background-color: #0056b3;
}

.features-container {
  padding: 4rem 2rem;
  background-color: #f0f0f0;
}

.features-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  
  @media (min-width: 768px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.feature {
  text-align: center;
  padding: 2rem;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s, transform 0.2s;

}

.feature:hover{
  transform : scale(1.2)
}

.feature-icon {
  font-size: 3rem; /* Increased icon size */
  margin-bottom: 1rem;
}

.feature-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.feature-description {
  font-size: 1rem;
  color: $text-color;
}

.footer {
  background-color: #333;
  color: #ffffff;
  text-align: center;
  padding: 2rem; /* Adjusted padding for better spacing */
  width: 100%; /* Full width */
  position: relative; /* Ensure footer stays at the bottom of the page */
  bottom: 0;
  margin-top: 2rem; /* Adds space above the footer */
}
