@tailwind base;
@tailwind components;
@tailwind utilities;

/* Apply Tailwind utility classes directly on the body */
body {
    background-color: #121212; /* Equivalent to bg-gray-900 */
    color: #f7f7f7; 
    padding: 0;
    margin: 0;
}

/* Add this CSS to your styles */
.hide-scrollbar {
    scrollbar-width: none; /* Firefox */
  }
  
  .hide-scrollbar::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }